h1 Top#index
p Find me in app/views/top/index.html.slim
p = @msg
= link_to 'login_check page!&gt;&gt;'.html_safe, {action:'login_check'}
= link_to "Sign out&gt;&gt;".html_safe, destroy_member_session_path, method: :delete
