h1 Top#login_check
= @member.email
p Find me in app/views/top/login_check.html.slim
= @msg
= link_to '&lt;&lt;go back'.html_safe, {action:'index'}
= link_to 'ディスカッション一覧', discussions_path, class:'nav-link'