p.Content: = @comment.present?

= link_to '編集', edit_comment_path(@comment)
= link_to '戻る', discussion_path(@comment.discussion_id)
= link_to 'Delete', comment_path(@comment), method: :delete, data: { confirm: '削除します。よろしいですか?' }